<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Create Account</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/createaAccount.css">
</head>
<body>
    <div class="registration-form">
        <form action="/createAccount" method="post">
            <div class="form-icon">
                <span><i class="icon icon-user"></i></span>
            </div>
            <div class="form-group">
                <input type="text" class="form-control item" id="username" placeholder="Name" name="name" required>
            </div>
            <div class="form-group">
                <input type="text" class="form-control item" id="password" placeholder="Surname" name="surname" required>
            </div>
            <div class="form-group">
                <input type="email" class="form-control item" id="email" placeholder="Email" name="email" required>
            </div>
            <div class="form-group">
                <input type="password" class="form-control item" id="phone-number" placeholder="Password" name="password" required>
            </div>
            <div class="form-group">
                <input type="password" class="form-control item" id="birth-date" placeholder="Confirm Password" name="confirmPassword" >
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-block create-account">Create Account</button>
            </div>
               <div class="form-group">
                 <p>Already have a account ? <a href="/signInUp">Sign in</a></p>
            </div>
        </form>

    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
    <script src="assets/js/script.js"></script>

    
</body>
</html>
