<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Language Learning</title>
    <link rel="stylesheet" href="/homepagestyle.css">
</head>
<body>
  
        <div class="intro">
          <h1>language learning</h1>
          <p>With languages you are at anywhere.</p>
            <button><a href="/signInUp">USER</a></button>
            <button>GUEST</button>
            <button><a href="/loginAdmin">ADMIN</a></button>
        </div>
     
</body>
</html>