<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, 
                   initial-scale=1.0">
  <link rel="stylesheet" href="/profilestyle.css" />
</head>

<body>

    <form action="/homePage">

        <div id="myPopup" class="popup">
            <div class="popup-content">
                <div class="page-content page-container" id="page-content">
                    <div class="padding">
                        <div class="row container d-flex justify-content-center">
                          <!-- <div class="col-xl-6 col-md-12"> --> 
                             <!--  <div class="card user-card-full"> -->
                                    <div class="row m-l-0 m-r-0">
                                       <div class="col-sm-2 bg-c-lite-green user-profile"> 
                                            <div class="card-block text-center text-white">
                                                <div class="m-b-25">
                                                    <img src="https://img.icons8.com/bubbles/100/000000/user.png"
                                                        class="img-radius" alt="User-Profile-Image">
                                                </div>
                                                <h6 class="f-w-600">{{name}}   {{surname}}</h6>
                                                
                                            </div>
                                     </div> 
                                       
                                            <div class="card-block">
                                                <h6 class="m-b-20 p-b-5 b-b-default f-w-600">Information</h6>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <p class="m-b-10 f-w-600">Email</p>
                                                        <h6 class="text-muted f-w-400">{{email}}</h6>
                                                    </div>
                                            
                                                </div>
                                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button id="closePopUp">
                    Close
                </button>
            </div>
        </div>
    </form>

    <script>


        myPopup.classList.add("show");

        closePopup.addEventListener("click", function () {
            myPopup.classList.remove("show");
        });
        window.addEventListener("click", function (event) {
            if (event.target == myPopup) {
                myPopup.classList.remove("show");
            }
        });
    </script>
</body>

</html>